@use './variables' as *;
@use './mixins' as *;

.form {
    &__btn {
        background-color: $alice;
        @include btn-radius;
        color: $white;
        margin: 50px;
    }
    &__btn:hover {
        background-color: #0398fc;
    }
}